*{
    background-color: black;
}
#discription{
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-top: 15rem;
    width: 60rem;
    height: 20rem;
   
    margin-left: 10px;
    
}
#details{
    background-color: white;
    color: black;
    margin-left: 34px;
    margin-right: 50px;
    margin-top: 20px;
    line-height: 30px;
}
span,b{
    background-color: white;
    
}
#rating{
    width:90px;
}
#main{
    display:flex;
    flex-direction: row;
    margin-left: 40px;
}
#form{
    margin-right: 4rem;
    margin-left: 4rem;
    margin-top: 15rem;
    margin-bottom: auto;
    background-color: wheat;
    width: 55rem;
    height: 27rem;
}
#center{
   margin-top: 2rem;
    margin-right: 10rem;
    margin-left: 10rem;
    background-color: wheat;
    line-height: 2rem;
    
}
input,button{
    background-color: wheat;
    line-height: 1rem;
    margin-top: 1rem;
}
#heading{
    font-size: 20px;
    color:green;
    text-align: center;
    background-color: white;
}
#ph{
    color:red;
    background-color: wheat;
}
#payable{
    color:green;
    background-color: wheat;
}