*{
    background-color: black;
}

#form{
    background-color: white;
    border:2px solid green;
    margin-top: 10rem;
    margin-left: 30rem;
    margin-right: 30rem;
    height: 25rem;
    width:30rem;
    
}
#internal{
    background-color: aliceblue;
    margin-left: 2rem;
    margin-top: 2rem;
}

p{
    color: red;
    height: 1px;
}
span,input,p,button,#white{
    background-color: white;
}
#submit{
    background-color:rgba(255, 0, 0, 0.664);
}
#movie1{
    background-color: black;
    color:white;
}